.page-title {
    position: relative;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;

    .hamburger-title {
        :hover {
            cursor: pointer;
        }

        .menu-toggle {
            height: 25px;
            width: 25px;
            color: #fff;
            stroke-width: 1.6px;
            transition: all 0.3s;
            vertical-align: -0.125em;
            transform: rotate(360deg);
        }
    }

    .title-wrap {
        margin-left: 1rem;
        color: var(--color-text2);
    }

    .ml-auto {
        margin-left: auto !important;
    }

    .toolbar {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 1;

        .toolbar-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 34px;
            width: 34px;
            border-radius: 9999px;
            margin: 0 4px;
            transition: all 0.3s;

            span {
                width: 35px;
                height: 35px;
                background-color: #868686;
                border-radius: 50%;
                text-align: center;
            }
        }
    }
}

.title.is-4 {
    font-size: 1.5rem;
}

.active {
    border:1px solid red;
}
