/*
  mobileS: '320px',
  mobileM: '375px',
  mobileL: '425px',
  tablet: '768px',
  laptop: '1024px',
  laptopL: '1440px',
  desktop: '2560px' 
*/
body {
  /* background: var(--color-2); */
}

:root {
    --background-color: #061325;
    --background-color2: #323236;
    --borderColor: #404046;
    --color-1:#232326;
    --color-2:#3b3b41;
    --color-text:#a2a5b9;
    --color-text2:#d4d4d4;
}

.container {

}

body {
}

img {
    /* vertical-align: middle;
    border-style: none; */
}
