.main-content {
    margin-left: 240px;
    overflow: hidden;
    background-color: #ececf1;
    .page-content {
        padding: calc(70px) calc(24px / 2) 60px calc(24px / 2);
            .container-fluid {
                margin-top: 20px;
                width: 100%;
                padding: 30px;
                border-radius: 25px;
                background-color: #fff;
                width: 100%;
                
                margin-right: auto;
                margin-left: auto;
    
            }
        
        
    }
}